* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and text styles */
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333333;
  }
  
  /* Header styles */
  header {
    background: #ffffff; /* Background color */
    color: #0f0f0f;
    height: 10vh;
    display: flex;
    justify-content: space-between; /* Space between logo and nav */
    align-items: center;
    padding: 0 20px; /* Add some padding to the sides */
}

img{
    height: 3rem;
    width: 3rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #0c0c0c;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(175, 169, 169);
    transition: 0.3s;
}

  #contact {
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-bottom: 0.5rem;
}

#contact input, #contact textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#contact button {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Ensure button width is 100% */
    box-sizing: border-box;
}

#contact button:hover {
    background: #45a049;
}
  
  #contact button:hover {
    background: #45a049;
  }

  /* Footer styles */
footer {
    background: #192733;
    color: #ffffff;
    height: 10.7rem;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 1rem;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer ul li a:hover {
    text-decoration: underline;
    color: #fff;
}
